{% extends 'task/base.html' %}
{% block content %}

<div class="header-bar">
    <h1>Register</h1>
</div>
<br>
<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        <label>{{form.username.label}}</label>
        {{form.username}}
    <br>
        <label>{{form.email.label}}</label>
        {{form.email}}
    <br>
        <label>{{form.password1.label}}</label>
        {{form.password1}}
    <br>
        <label>{{form.password2.label}}</label>
        {{form.password2}}
    <br>
        <input style="margin-top:10px ;" class="submit-button" type="submit" value="Register">
    </form>
</div>

{% endblock content %}
