
{% extends 'task/base.html' %}
    {% block content %}
      <h1>Users</h1>
      <table>
        <thead>
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Assigned Tasks</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>
              {% if user.assigned_tasks %}
                {% for task in user.assigned_tasks.all %}
                  <a href="{% url 'task_detail' task.id %}">{{ task.name }}</a><br>
                {% endfor %}
              {% else %}
                None
              {% endif %}
            </td>
            <td>
              <a href="{% url 'user_detail' user.id %}">View</a>
              <a href="{% url 'user_update' user.id %}">Edit</a>
              <a href="{% url 'user_delete' user.id %}">Delete</a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="4">No users found.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endblock %}
    
